<section class="section">
  <h1 class="visually-hidden">Footer</h1>
  <footer class="footer">
    <div class="container">
      <div class="footer-inner">
        <button class="footer-btn__up">
          <svg class="footer-btn__up-icon">
            <use href="./images/sprite.svg#up"></use>
          </svg>
        </button>
        <div class="footer-menu">
          <a class="logo footer-logo link" href="#">
            <svg class="logo-icon__footer">
              <use href="./images/sprite.svg#group-footer"></use>
            </svg>
            <span class="logo-text__accent">F</span>urniture.test
          </a>
          <div class="footer-wraper">
            <div class="footer-nav">
              <ul class="footer-nav__list list">
                <li class="footer-nav__item">
                  <a class="footer-link link" href="#"
                    ><span class="footer-nav__minus">-</span> Дивани</a
                  >
                </li>
                <li class="footer-nav__item">
                  <a class="footer-link link" href="#"
                    ><span class="footer-nav__minus">-</span> ліжка</a
                  >
                </li>
                <li class="footer-nav__item">
                  <a class="footer-link link" href="#"
                    ><span class="footer-nav__minus">-</span> Крісла</a
                  >
                </li>
                <li class="footer-nav__item">
                  <a class="footer-link link" href="#"
                    ><span class="footer-nav__minus">-</span> шафи</a
                  >
                </li>
                <li class="footer-nav__item">
                  <a class="footer-link link" href="#"
                    ><span class="footer-nav__minus">-</span> Кухні</a
                  >
                </li>
                <li class="footer-nav__item">
                  <a class="footer-link link" href="#"
                    ><span class="footer-nav__minus">-</span> комоди</a
                  >
                </li>
              </ul>

              <ul class="footer-nav__list list">
                <li class="footer-nav__item">
                  <a class="footer-link link" href="#"
                    ><span class="footer-nav__minus">-</span> АкцІї</a
                  >
                </li>
                <li class="footer-nav__item">
                  <a class="footer-link link" href="#"
                    ><span class="footer-nav__minus">-</span> Доставка та
                    оплата</a
                  >
                </li>
                <li class="footer-nav__item">
                  <a class="footer-link link" href="#"
                    ><span class="footer-nav__minus">-</span> про нас</a
                  >
                </li>
                <li class="footer-nav__item">
                  <a class="footer-link link" href="#"
                    ><span class="footer-nav__minus">-</span> контакти</a
                  >
                </li>
              </ul>
            </div>
            <div class="footer-contact">
              <ul class="footer-contact__list list">
                <li class="footer-contact__item">
                  <svg width="24" height="24">
                    <use href="./images/sprite.svg#map-pin"></use>
                  </svg>
                  <p>test</p>
                </li>
                <li class="footer-contact__item">
                  <svg width="24" height="24">
                    <use href="./images/sprite.svg#calendar"></use>
                  </svg>
                  <p>Пн-Пт, з 10 до 18</p>
                </li>
                <li class="footer-contact__item">
                  <svg width="24" height="24">
                    <use href="./images/sprite.svg#smartphone11"></use>
                  </svg>
                  <span class="footer-contact__number">
                    <span>(099) 111 22 33</span>
                    <span>(099) 222 33 44</span>
                  </span>
                </li>
              </ul>

              <div class="social social-footer">
                <span class="social-title">Ми в соціальних мережах:</span>
                <ul class="social-list list">
                  <li class="social-item">
                    <a class="link" href="#">
                      <svg
                        class="social-icon social-icon__footer"
                        width="40"
                        height="40"
                      >
                        <use href="./images/sprite.svg#telegram"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-item">
                    <a class="link" href="#">
                      <svg
                        class="social-icon social-icon__footer"
                        width="40"
                        height="40"
                      >
                        <use href="./images/sprite.svg#facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social-item">
                    <a class="link" href="#">
                      <svg
                        class="social-icon social-icon__footer"
                        width="40"
                        height="40"
                      >
                        <use href="./images/sprite.svg#instagram"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="copyright">
              <div>
                <p>&#169; ТОВ Furniture, працюємо з 2006 року</p>
              </div>
              <div class="copyright-glyanec">
                <svg width="20" height="21">
                  <use href="./images/sprite.svg#vector"></use>
                </svg>
                <p class="copyright-glyanec__text">
                  Глянець — розробка інтернет-магазинів
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bg"></div>
      </div>
    </div>
  </footer>
</section>
