<header class="header">
  <div class="container">
    <div class="header-nav">
      <div class="social">
        <span class="social-title">Ми в соціальних мережах:</span>
        <ul class="social-list list">
          <li class="social-item">
            <a class="link" href="#">
              <svg class="social-icon" width="40" height="40">
                <use href="./images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a class="link" href="#">
              <svg class="social-icon" width="40" height="40">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a class="link" href="#">
              <svg class="social-icon" width="40" height="40">
                <use href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a class="contact link" href="#">
          <svg class="contact-icon__phone" width="24" height="24">
            <use href="./images/sprite.svg#smartphone"></use>
          </svg>
          (099) 111 22 33
          <svg width="24" height="24">
            <use href="./images/sprite.svg#chevron"></use>
          </svg>
        </a>
      </div>
      <ul class="navigation list">
        <li class="navigation-item">
          <a class="navigation-link current-page link" href="#">Головна</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link link" href="#">Акції</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link link" href="#">Доставка та оплата</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link link" href="#">про нас</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link link" href="#">контакти</a>
        </li>
      </ul>
    </div>
    <div class="header-menu">
      <div class="header-menu__inner">
        <ul class="menu list">
          <li class="menu-item">
            Дивани
            <svg width="20" height="20">
              <use href="./images/sprite.svg#chevron"></use>
            </svg>
          </li>
          <li class="menu-item">
            ліжка
            <svg width="20" height="20">
              <use href="./images/sprite.svg#chevron"></use>
            </svg>
          </li>
          <li class="menu-item">
            Крісла
            <svg width="20" height="20">
              <use href="./images/sprite.svg#chevron"></use>
            </svg>
          </li>
          <li class="menu-item">
            комоди
            <svg width="20" height="20">
              <use href="./images/sprite.svg#chevron"></use>
            </svg>
          </li>
          <li class="menu-item">
            шафи
            <svg width="20" height="20">
              <use href="./images/sprite.svg#chevron"></use>
            </svg>
          </li>
          <li class="menu-item">
            Кухня
            <svg width="20" height="20">
              <use href="./images/sprite.svg#chevron"></use>
            </svg>
          </li>
        </ul>
        <a
          class="logo logo-header link"
          href="#"
          data-aos="flip-up"
          data-aos-duration="1000"
        >
          <svg class="logo-icon">
            <use href="./images/sprite.svg#group"></use>
          </svg>
          <span class="logo-text__accent-header">F</span
          ><span class="logo-text">urniture.test</span>
        </a>
      </div>
      <div class="order-box">
        <a class="order-link link" href="#">
          <svg width="30" height="30">
            <use href="./images/sprite.svg#shopping"></use>
          </svg>
          Кошик
        </a>
        <button class="btn btn-header" type="button">Замовити дзвінок</button>
        <button class="btn-header__mini" type="button">
          <svg class="btn-header__mini-icon">
            <use href="./images/sprite.svg#phone"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="mobile-menu">
      <div class="mobile-menu__box-nav">
        <a
          class="logo link"
          href="#"
          data-aos="flip-up"
          data-aos-duration="1000"
        >
          <svg class="logo-icon">
            <use href="./images/sprite.svg#group"></use>
          </svg>
          <span class="logo-text__accent-header">F</span
          ><span class="logo-text">urniture.test</span>
        </a>
        <button class="mobile-btn" data-menu-open>
          <svg class="mobile-menu__icon">
            <use href="./images/sprite.svg#menu"></use>
          </svg>
        </button>
      </div>

      <div class="mobile-menu__box-list">
        <ul class="mobile-menu__list list">
          <li class="mobile-menu__item">
            Дивани
            <svg width="20" height="20">
              <use href="./images/sprite.svg#chevron"></use>
            </svg>
          </li>
          <li class="mobile-menu__item">
            ліжка
            <svg width="20" height="20">
              <use href="./images/sprite.svg#chevron"></use>
            </svg>
          </li>
          <li class="mobile-menu__item">
            Крісла
            <svg width="20" height="20">
              <use href="./images/sprite.svg#chevron"></use>
            </svg>
          </li>
          <li class="mobile-menu__item">
            комоди
            <svg width="20" height="20">
              <use href="./images/sprite.svg#chevron"></use>
            </svg>
          </li>
          <li class="mobile-menu__item">
            шафи
            <svg width="20" height="20">
              <use href="./images/sprite.svg#chevron"></use>
            </svg>
          </li>
          <li class="mobile-menu__item">
            Кухня
            <svg width="20" height="20">
              <use href="./images/sprite.svg#chevron"></use>
            </svg>
          </li>
        </ul>
      </div>
      <div class="mobile-menu__content" data-menu>
        <button class="mobile-btn btn-close" data-menu-close>
          <svg class="mobile-menu__icon">
            <use href="./images/sprite.svg#close"></use>
          </svg>
        </button>
        <ul class="mobile-menu__nav-list list">
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link current-page link" href="#"
              >Головна</a
            >
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link link" href="#">АкцІї</a>
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link link" href="#"
              >Доставка та оплата</a
            >
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link link" href="#">про нас</a>
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link link" href="#">контакти</a>
          </li>
        </ul>

        <div class="order-box__mobile">
          <a class="order-link order-link__mobile link" href="#">
            <svg width="30" height="30">
              <use href="./images/sprite.svg#shopping"></use>
            </svg>
            Кошик
          </a>
          <button class="btn btn-header mobile" type="button">
            Замовити дзвінок
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
