<section
  class="section section-no-padding hero-bg"
  data-aos="zoom-in"
  data-aos-duration="1000"
>
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">Новинка!</h1>
      <h2 class="hero-subtitle">Ліжко Ornella</h2>
      <p class="hero-text">Це новий рівень комфортного сну</p>
      <button class="btn hero-btn" type="button">Детальніше</button>
      <div>
        <p class="hero-slider">
          <span class="hero-slider__active">01</span>/04
        </p>
        <svg class="slider-icon" width="30" height="30">
          <use href="./images/sprite.svg#left"></use>
        </svg>
        <svg class="slider-icon" width="30" height="30">
          <use href="./images/sprite.svg#right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
