<section class="section">
  <div class="container">
    <h1 class="title" data-aos="fade-down">
      <span class="title-bg"></span>Наші переваги
    </h1>

    <ul class="privileg-list list">
      <li class="privileg-item">
        <div class="thumb">
          <img src="./images/privileg/privileg1.jpg" alt="" />
          <div class="overlay">
            <h2 class="overlay-title">Меблі преміум класу</h2>
            <p>
              За 14 років на ринку меблів для дому ми стали надійними партнерами
              на ринку Вінницької області та України
            </p>
          </div>
        </div>
      </li>
      <li class="privileg-item" data-aos="fade-up" data-aos-duration="900">
        <div class="thumb">
          <img src="./images/privileg/privileg2.jpg" alt="" />
          <div class="overlay">
            <h2 class="overlay-title">Надійність</h2>
            <p>
              За 14 років на ринку меблів для дому ми стали надійними партнерами
              на ринку Вінницької області та України
            </p>
          </div>
        </div>
      </li>
      <li class="privileg-item" data-aos="fade-up" data-aos-duration="1100">
        <div class="thumb">
          <img src="./images/privileg/privileg3.jpg" alt="" />
          <div class="overlay">
            <h2 class="overlay-title">Безкоштовна доставка</h2>
            <p>
              За 14 років на ринку меблів для дому ми стали надійними партнерами
              на ринку Вінницької області та України
            </p>
          </div>
        </div>
      </li>
      <li class="privileg-item">
        <div class="thumb">
          <img src="./images/privileg/privileg1.jpg" alt="" />
          <div class="overlay">
            <h2 class="overlay-title">Меблі преміум класу</h2>
            <p>
              За 14 років на ринку меблів для дому ми стали надійними партнерами
              на ринку Вінницької області та України
            </p>
          </div>
        </div>
      </li>
      <li class="privileg-item" data-aos="fade-up" data-aos-duration="900">
        <div class="thumb">
          <img src="./images/privileg/privileg2.jpg" alt="" />
          <div class="overlay">
            <h2 class="overlay-title">Надійність</h2>
            <p>
              За 14 років на ринку меблів для дому ми стали надійними партнерами
              на ринку Вінницької області та України
            </p>
          </div>
        </div>
      </li>
      <li class="privileg-item" data-aos="fade-up" data-aos-duration="1100">
        <div class="thumb">
          <img src="./images/privileg/privileg3.jpg" alt="" />
          <div class="overlay">
            <h2 class="overlay-title">Безкоштовна доставка</h2>
            <p>
              За 14 років на ринку меблів для дому ми стали надійними партнерами
              на ринку Вінницької області та України
            </p>
          </div>
        </div>
      </li>
    </ul>
    <!-- <div class="privileg-list list">
      <div class="privileg-item">
        <div class="thumb">
          <img src="./images/privileg/privileg1.jpg" alt="" />
          <div class="overlay">
            <h2 class="overlay-title">Меблі преміум класу</h2>
            <p>
              За 14 років на ринку меблів для дому ми стали надійними партнерами
              на ринку Вінницької області та України
            </p>
          </div>
        </div>
      </div>
      <div class="privileg-item" data-aos="fade-up" data-aos-duration="900">
        <div class="thumb">
          <img src="./images/privileg/privileg2.jpg" alt="" />
          <div class="overlay">
            <h2 class="overlay-title">Надійність</h2>
            <p>
              За 14 років на ринку меблів для дому ми стали надійними партнерами
              на ринку Вінницької області та України
            </p>
          </div>
        </div>
      </div>
      <div class="privileg-item" data-aos="fade-up" data-aos-duration="1100">
        <div class="thumb">
          <img src="./images/privileg/privileg3.jpg" alt="" />
          <div class="overlay">
            <h2 class="overlay-title">Безкоштовна доставка</h2>
            <p>
              За 14 років на ринку меблів для дому ми стали надійними партнерами
              на ринку Вінницької області та України
            </p>
          </div>
        </div>
      </div>

      <div class="privileg-item">
        <div class="thumb">
          <img src="./images/privileg/privileg1.jpg" alt="" />
          <div class="overlay">
            <h2 class="overlay-title">Меблі преміум класу</h2>
            <p>
              За 14 років на ринку меблів для дому ми стали надійними партнерами
              на ринку Вінницької області та України
            </p>
          </div>
        </div>
      </div>
      <div class="privileg-item" data-aos="fade-up" data-aos-duration="900">
        <div class="thumb">
          <img src="./images/privileg/privileg2.jpg" alt="" />
          <div class="overlay">
            <h2 class="overlay-title">Надійність</h2>
            <p>
              За 14 років на ринку меблів для дому ми стали надійними партнерами
              на ринку Вінницької області та України
            </p>
          </div>
        </div>
      </div>
      <div class="privileg-item" data-aos="fade-up" data-aos-duration="1100">
        <div class="thumb">
          <img src="./images/privileg/privileg3.jpg" alt="" />
          <div class="overlay">
            <h2 class="overlay-title">Безкоштовна доставка</h2>
            <p>
              За 14 років на ринку меблів для дому ми стали надійними партнерами
              на ринку Вінницької області та України
            </p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
