<section class="section">
  <div class="container">
    <h1
      class="title"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="300"
      data-aos-offset="0"
    >
      <span class="title-bg"></span>
      Залишились питання?
    </h1>
    <div class="question-content question-bg" data-aos="fade-right">
      <div class="question-inner" data-aos="fade-left">
        <form class="question-form">
          <h2 class="question-form__title">Замовте консультацію</h2>
          <label>
            <input
              class="question-form__input"
              type="text"
              placeholder="Віталій"
            />
          </label>
          <label>
            <input
              class="question-form__input"
              type="tel"
              placeholder="Номер телефону"
            />
          </label>
          <button class="btn" type="submit">ВІдправити</button>
        </form>
        <div class="question-info">
          <p>
            Залиште заявку або телефонуйте за номером
            <span class="question-info__number">(099) 111 22 33</span>, і наш
            менеджер звяжеться з вами для кваліфікованої консультації.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
